<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" lang="it">
    <head th:replace="~{fragments/template.html :: header('CRYPTO - Risultati Verifica')}"></head>
    <body>

        <div th:replace="~{fragments/template.html :: main}"></div>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="container"
             style="padding-top: 10px; padding-bottom: 10px;">
            <div class="row">
                <div class="col-sm-11">
                    <span class="glyphicon glyphicon-user"/> Utente: <strong><span sec:authentication="name"></span></strong>
                </div>
                <div class="col-sm-1">
                    <a href="#" class="btn btn-primary btn-sm glyphicon glyphicon-off" th:href="@{/logout}"> Esci</a>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#" th:href="@{/}" class="glyphicon glyphicon-home">
                        Home</a></li>
                <li><a href="#" th:if="${@environment.getProperty('parer.crypto.verifica-ui.enabled') ?: true}" th:href="@{/verifica}">Verifica</a></li>
                <li class="breadcrumb-item active" aria-current="page">Risultati verifica</li>
            </ul>
        </div>

        <div class="container">
            <!-- REPORT PRINCIPALE -->
            <th:block th:if="${risultatoVerifica ne null}">   
                <th:block th:switch="${risultatoVerifica.withErrors}">
                    <th:block th:case="false">
                        <h2> Risultato verifica </h2>
                        <pre class="prettyprint lang-xml" th:text="*{risultatoVerifica.reportTree}"></pre>
                    </th:block>
                    <!-- ERRORI -->
                    <th:block th:case="*">
                        <div class="alert alert-warning">
                            <h4><span class="glyphicon glyphicon-warning-sign"></span> Attenzione!</h4>
                            <p> Si è verificato un problema durante la validazione del file.</p>
                        </div>
                    </th:block>
                </th:block>
            </th:block>
        </div>


        <div class="container">
            <div th:replace="~{fragments/template.html :: info}"></div>
            <div th:replace="~{fragments/template.html :: footer}"></div>
        </div>

    </body>
</html>