<!DOCTYPE html>
<html>
    <body>
        <div th:fragment="apidocs" class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Funzioni</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/verifica}" title="Verifica firme">Verifica firma</a>
                    </li>
                    <li class="list-group-item">
                        <a target="_blank" th:href="@{/swagger-ui.html}" title="Swagger">Swagger UI</a>
                    </li>

                </ul>
            </div>
        </div>
        <div th:fragment="utilities" class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Funzioni</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <ul class="list-group">

                    <li class="list-group-item">
                        <a target="_blank" th:href="@{/swagger-ui.html}" title="Swagger">Swagger UI</a>
                    </li>
                    <th:block th:if="${#request.isUserInRole('ADMIN')}">

                        <li th:if="${@environment.getProperty('management.server.port') == null} or (${@environment.getProperty('management.server.port')} == ${@environment.getProperty('server.port')})" class="list-group-item">
                            <a target="_blank" th:href="@{/actuator}" title="Actuator">Spring Boot Actuator</a>
                        </li>
                        <li class="list-group-item" th:if="${@environment.getProperty('spring.h2.console.enabled')}"> 
                            <a target="_blank" 
                               th:href="@{${#request.isUserInRole('ADMIN')}?'/admin/h2-console':'/h2-console'}"
                               title="H2 Console">H2 Console</a>
                        </li>

                    </th:block>
                </ul>
            </div>
        </div>

        <div th:fragment="env"
             th:if="${@environment.getProperty('spring.profiles.active') == null} or ${#request.isUserInRole('ADMIN')}"
             class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Valore variabili d'ambiente </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="btn-group btn-group-justified has-feedback has-clear">
                        <input class="form-control" id="myInput" type="text"
                               placeholder="Search.." onkeyup="filter(this, 'prop')"> <a
                               id="searchclear"
                               class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear"
                               style="pointer-events: auto; text-decoration: none; cursor: pointer;"
                               onclick="$(this).prev('input').val('');filter(this, 'prop');return false;">
                        </a>
                    </div>
                </div>
                <ul id="prop" class="list-group">
                    <li th:each="val : ${app}" class="list-group-item">
                        [[${val.key}]] = <b>[[${val.value}]]</b>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>